<div class="flex flex-col flex-auto min-w-0 h-full">
  <hubsd-header
    [title]="id ? 'Modificar uma empresa existente' : 'Criar uma nova empresa'"
  ></hubsd-header>
  <div class="px-6 pb-6 w-full xl:w-1/2">
    <div class="bg-card rounded-md border dark:border-slate-800 p-4">
      <form [formGroup]="form">
        <div>
          <mat-form-field class="w-full">
            <mat-label class="font-bold">Nome</mat-label>
            <input
              formControlName="name"
              matInput
              placeholder="Nome da empresa"
            />
            <mat-error *ngIf="form.get('name').hasError('required')">
              O Nome da empresa é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label class="font-bold">Razão Social</mat-label>
            <input
              formControlName="socialReason"
              matInput
              placeholder="Razão social"
            />
            <mat-error *ngIf="form.get('socialReason').hasError('required')">
              A razão social da empresa é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label class="font-bold">CNPJ</mat-label>
            <input
              formControlName="cnpj"
              matInput
              hubsdCnpjMask
              placeholder="CNPJ da empresa"
            />
            <mat-error *ngIf="form.get('cnpj').hasError('required')">
              O CNPJ da empresa é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label class="font-bold">E-mail</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="E-mail corporativo da empresa"
            />
            <mat-error *ngIf="form.get('email').hasError('required')">
              O E-mail da empresa é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label class="font-bold">Telefone</mat-label>
            <input
              matInput
              maxlength="15"
              hubsdPhoneMask
              formControlName="phone"
              placeholder="Telefone da empresa"
            />
            <mat-error *ngIf="form.get('phone').hasError('required')">
              O Telefone da empresa é obrigatório.
            </mat-error>
            <mat-error *ngIf="form.get('phone').hasError('invalidPhone')">
              Insira um telefone válido.
            </mat-error>
          </mat-form-field>
        </div>
        <h2 class="mb-4 font-bold text-md">Endereço</h2>
        <div class="flex flex-row flex-wrap gap-4 max-sm:flex-col">
          <mat-form-field class="flex-auto">
            <mat-label class="font-bold">Cep</mat-label>
            <input
              maxlength="8"
              hubsdCepMask
              matInput
              type="text"
              placeholder="Cep"
              formControlName="cep"
              (keyup)="onChangeCEP()"
            />
            <mat-error *ngIf="form.get('cep').hasError('required')">
              O CEP é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-auto">
            <mat-label class="font-bold">Rua</mat-label>
            <input
              placeholder="Logradouro, avenida ou rua."
              formControlName="street"
              matInput
            />
            <mat-error *ngIf="form.get('street').hasError('required')">
              A rua é obrigatória.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-row flex-wrap gap-4 max-sm:flex-col">
          <mat-form-field class="flex-auto">
            <mat-label class="font-bold">Cidade</mat-label>
            <input matInput placeholder="Cidade" formControlName="city" />
            <mat-error *ngIf="form.get('city').hasError('required')">
              Digite um CEP válido.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-auto">
            <mat-label class="font-bold">Estado</mat-label>
            <input placeholder="Estado" matInput formControlName="state" />
            <mat-error *ngIf="form.get('state').hasError('required')">
              Digite um CEP válido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-row flex-wrap gap-4">
          <mat-form-field class="flex-auto">
            <mat-label class="font-bold">Número</mat-label>
            <input
              matInput
              formControlName="number"
              placeholder="Número do endereço"
            />
            <mat-error *ngIf="form.get('number').hasError('required')">
              O número é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-auto">
            <mat-label class="font-bold">Bairro</mat-label>
            <input
              placeholder="Bairro"
              formControlName="neighborhood"
              matInput
            />
            <mat-error *ngIf="form.get('neighborhood').hasError('required')">
              O bairro é obrigatório.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-row flex-wrap gap-4"></div>
        <mat-form-field class="w-full">
          <mat-label class="font-bold">Complemento</mat-label>
          <input
            placeholder="Ex.: 'Ao lado da igreja'"
            formControlName="complement"
            matInput
          />
        </mat-form-field>
      </form>
    </div>
    <div class="flex flex-row gap-6">
      <button
        class="w-full mt-6"
        mat-flat-button
        [disabled]="form.disabled"
        [routerLink]="'/empresas'"
      >
        Cancelar
      </button>
      <button
        class="w-full mt-6"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="handleSaveOrUpdate()"
      >
        <span *ngIf="!form.disabled">Salvar</span>
        <mat-progress-spinner
          *ngIf="form.disabled"
          [diameter]="24"
          [mode]="'indeterminate'"
        ></mat-progress-spinner>
      </button>
    </div>
  </div>
</div>
