<header
  class="bg-black bg-opacity-40 bg-blend-multiply fixed w-full top-0 z-50"
>
  <nav
    class="w-full md:mx-auto flex items-center p-6 lg:px-18"
    [ngClass]="hideLogo ? 'justify-end' : 'justify-evenly'"
    aria-label="Global"
  >
    <button
      *ngIf="!hideLogo"
      (click)="clickBack()"
      class="flex items-center bg-none light:bg-white rounded-md"
    >
      <mat-icon
        class="w-fit h-fit max-w-4 mr-4"
        [svgIcon]="'mat_outline:chevron_left'"
      ></mat-icon>
      <div class="w-26 m-auto">
        <img
          src="../../../../assets/images/logo/copywave.png"
          alt="Logo Copywave"
        />
      </div>
    </button>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <button
        class="text-sm font-semibold leading-6 px-8 text-gray-50 mr-4 bg-primary rounded-md"
        mat-flat-button
        color="primary"
        [routerLink]="['/login']"
      >
        <span> Login <span aria-hidden="true">&rarr;</span> </span>
      </button>
      <button
        class="text-sm font-semibold leading-6 px-8 text-gray-50 mr-4 bg-card rounded-md"
        mat-flat-button
        color="primary"
        [routerLink]="['/registrar']"
      >
        <span> Cadastro <span aria-hidden="true">&rarr;</span> </span>
      </button>
    </div>

    <button mat-button class="lg:hidden" [matMenuTriggerFor]="menu">
      <mat-icon class="text-white text-lg">menu</mat-icon>
      <mat-menu #menu="matMenu" class="lg:hidden dark:bg-default">
        <div class="flex flex-col items-start">
          <button
            mat-menu-item
            [routerLink]="['/login']"
            class="text-sm font-semibold leading-6 light:text-black dark:text-gray-50 bg-primary justify-center w-full text-start px-4"
          >
            <a> Login </a> <span aria-hidden="true">&rarr;</span>
          </button>
          <button
            mat-menu-item
            [routerLink]="['/registrar']"
            class="text-sm font-semibold leading-6 light:text-black dark:text-gray-50 bg-card justify-center w-full text-start px-4"
          >
            <a> Cadastro </a> <span aria-hidden="true">&rarr;</span>
          </button>
        </div>
      </mat-menu>
    </button>
  </nav>
</header>
