<div
  class="bg-center md:bg-bottom lg:bg-center bg-cover bg-no-repeat min-h-1/4 flex items-center justify-center"
>
  <section class="p-4 sm:p-16 md:p-16 lg:p-16 xl:p-16">
    <div
      class="grid max-w-screen-xl px-4 sm:py-16 py-16 sm:mt-0 mt-6 mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-12"
    >
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1
          class="max-w-2xl mb-4 text-xl font-bold tracking-tight leading-none md:text-2xl xl:text-3xl text-primary"
        >
          Copywave
        </h1>
        <p
          class="max-w-2xl mb-6 font-light text-black dark:text-white lg:mb-8 md:text-sm lg:text-md"
        >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet modi
          doloremque, magni aut, qui aliquid laboriosam fugit
        </p>
        <button
          class="md:text-sm lg:text-md font-normal leading-6 sm:px-4 md:px-8 text-gray-50 inline-flex items-center justify-center mr-3"
          mat-flat-button
          color="primary"
          (click)="scrollToAbout()"
        >
          <span> Saiba mais </span>
        </button>
      </div>
    </div>
  </section>
</div>
