<div class="w-full justify-center items-center p-4">
  <div
    class="w-full border-2 bg-primary-950 dark:bg-secondary-950 rounded-xl p-4 space-y-3 mt-3"
    *ngFor="let payment of payments"
  >
    <div class="flex justify-between items-center">
      <span class="font-bold text-primary">ID: {{ payment.paymentId }}</span>
      <span class="text-secondary-300 dark:text-white font-medium"
        >Status: {{ payment.status }}</span
      >
    </div>
    <hr class="border-primary my-2" />
    <div class="flex max-sm:flex-col justify-between">
      <div class="items-center">
        <div>
          <span class="text-secondary-300 dark:text-white">Nome do plano:</span>
          <span class="text-primary font-semibold ml-1">{{
            payment.plan
          }}</span>
        </div>

        <div>
          <span class="text-secondary-300 dark:text-white">Motivo:</span>
          <span class="text-primary font-semibold ml-1">{{
            payment.description || "N/A"
          }}</span>
        </div>
      </div>

      <div class="justify-end items-center mt-2">
        <span class="font-bold text-primary">Cartão de crédito</span>
        <span class="ml-2">
          <mat-icon class="text-primary">credit_card</mat-icon>
        </span>
      </div>
    </div>
  </div>
  <div
    *ngIf="!payments?.length"
    class="text-primary dark:text-white flex justify-center"
  >
    Nenhum pagamento foi encontrado.
  </div>
</div>
