<!-- <div class="w-full bg-purple-400 gap-4 p-4 flex">
  <div class="w-7/12 bg-white flex justify-between p-4 rounded-md">
    <h1 class="text-black">Usuários</h1>
    <h1 class="text-black">> Ver tudo</h1>
  </div>
  <div class="font-normal bg-white flex justify-between p-4 rounded-md">
    <h1 class="text-black">Usuários ativos</h1>
    <h1 class="text-black">> Ver tudo</h1>
  </div>

    <hubsd-header
    buttonActionTitle="Criar uma nova ação"
    (actionListener)="handleAction($event)"
  ></hubsd-header>
  Adicionar header acima à página

</div> -->

<div class="flex flex-col flex-auto min-w-0 h-full">
  <div class="w-full p-4 flex flex-col gap-4">
    <div
      class="w-full flex flex-col sm:flex-row justify-between items-center gap-2"
    >
      <button class="text-white">Filtros</button>
      <button mat-flat-button class="bg-primary p-2">
        <span class="ml-1 text-white">Atualizar Dashboard </span>
      </button>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 custom:grid-cols-3 gap-3"
    >
      <div
        class="font-normal bg-primary text-white p-4 rounded-md flex flex-col justify-between"
      >
        <h2 class="text-sm">Faturamento Total</h2>
        <p class="text-xl max-md:text-lg">R$ 100.000,00</p>
      </div>
      <div
        class="font-normal bg-primary text-white p-4 rounded-md flex flex-col justify-between"
      >
        <h2 class="text-sm">Média Faturamento Dia</h2>
        <p class="text-xl max-md:text-lg">R$ 24.000,00</p>
      </div>
      <div
        class="font-normal bg-primary text-white p-4 rounded-md flex flex-col justify-between"
      >
        <h2 class="text-sm">Páginas Clonadas</h2>
        <p class="text-xl max-md:text-lg">344</p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 custom:grid-cols-3 gap-3"
    >
      <div
        class="font-normal bg-primary text-white p-4 rounded-md flex flex-col justify-between"
      >
        <h2 class="text-sm">Páginas Criadas</h2>
        <p class="text-xl max-md:text-lg">864</p>
      </div>
      <div
        class="font-normal bg-primary text-white p-4 rounded-md flex flex-col justify-between"
      >
        <h2 class="text-sm">Cliques Totais em Pág.</h2>
        <p class="text-xl max-md:text-lg">980.000.000</p>
      </div>
      <div
        class="font-normal bg-primary text-white p-4 rounded-md flex flex-col justify-between"
      >
        <h2 class="text-sm">Média Cliques Dia</h2>
        <p class="text-xl max-md:text-lg">10.980,00</p>
      </div>
    </div>
  </div>
</div>
