<div
  class="flex flex-col sm:flex-row items-center md:items-start justify-center md:justify-start flex-auto min-w-0 text-secondary-300 min-h-screen"
>
  <div
    class="grid items-center justify-center w-full md:w-5/12 pt-18 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none dark:bg-default sm:bg-card h-full relative"
  >
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="w-60 m-auto mb-10">
        <img
          src="../../../../assets/images/logo/copywave.png"
          alt="Logo Copywave"
        />
      </div>
      <div class="mt-8 text-lg tracking-tight leading-tight text-primary">
        Criar nova senha
      </div>
      <div class="flex items-baseline mt-0.5 font-medium text-low-medium">
        <div class="text-md font-normal text-secondary-300 dark:text-gray-50">
          Crie sua nova senha de acesso ao sistema.
        </div>
      </div>
      <form class="mt-8" [formGroup]="resetPasswordForm" #signInNgForm="ngForm">
        <mat-form-field class="w-full">
          <mat-label class="text-secondary-300 dark:text-gray-50"
            >Nova senha</mat-label
          >
          <input
            placeholder="Senha123@"
            matInput
            [type]="isVisible ? 'text' : 'password'"
            (keyup)="onPasswordChange()"
            [formControlName]="'password'"
          />
          <button
            mat-icon-button
            type="button"
            (click)="isVisible = !isVisible"
            matSuffix
          >
            <mat-icon
              *ngIf="!isVisible"
              [svgIcon]="'mat_outline:visibility'"
            ></mat-icon>
            <mat-icon
              *ngIf="isVisible"
              [svgIcon]="'mat_outline:visibility_off'"
            ></mat-icon>
          </button>
          <mat-error>A senha é obrigatória.</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label class="text-secondary-300 dark:text-gray-50"
            >Confirmar nova senha</mat-label
          >
          <input
            placeholder="Senha123@"
            matInput
            [type]="confirmIsVisible ? 'text' : 'password'"
            [formControlName]="'confirmPassword'"
          />
          <button
            mat-icon-button
            type="button"
            (click)="confirmIsVisible = !confirmIsVisible"
            matSuffix
          >
            <mat-icon
              *ngIf="!confirmIsVisible"
              [svgIcon]="'mat_outline:visibility'"
            ></mat-icon>
            <mat-icon
              *ngIf="confirmIsVisible"
              [svgIcon]="'mat_outline:visibility_off'"
            ></mat-icon>
          </button>
          <mat-error
            *ngIf="
              resetPasswordForm.get('confirmPassword').hasError('required')
            "
          >
            A confirmação da senha é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="
              resetPasswordForm.get('confirmPassword').hasError('mustMatch')
            "
          >
            As senhas devem ser iguais.
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="resetPasswordForm.invalid"
          class="w-full mt-6"
          mat-flat-button
          color="primary"
          (click)="handleRequest()"
        >
          <span *ngIf="!resetPasswordForm.disabled">Mudar senha</span>
          <mat-progress-spinner
            *ngIf="resetPasswordForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </form>
      <div class="w-full flex justify-center mt-8">
        <button
          mat-flat-button
          class="w-full bg-none"
          class="bg-none"
          (click)="clickBack('')"
        >
          <mat-icon [svgIcon]="'uil:back-arrow'"></mat-icon>
          <span class="ml-4 text-secondary-600 dark:text-white">Voltar</span>
        </button>
      </div>
    </div>
    <div class="w-full h-full relative min-h-20">
      <div class="grid absolute bottom-0 items-center w-full">
        <span class="text-primary dark:text-white text-center">Versão 1.0</span>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col relative md:flex flex-auto items-center justify-center pt-16 pl-16 pr-16 lg:px-28 overflow-hidden dark:border-r bg-gradient-to-b from-primary to-secondary-300 dark:from-primary dark:to-secondary-300 sm:w-7/12 md:w-5/12 dark:bg-default sm:bg-card h-full"
  >
    <div
      class="text-white flex flex-col grow justify-center w-full max-w-2xl space-y-6"
    >
      <div class="flex z-10 relative w-full mb-9">
        <div class="w-full mr-2 pb-2">
          <p class="font-bold text-sm mb-1 py-2 flex items-center h-18">
            {{ progressPercentage < 50 ? "Fraco" : "Forte" }}
            <mat-icon
              *ngIf="progressPercentage === 100"
              [@fadeIn]
              [@fadeOut]
              class="ml-2 text-white"
              [svgIcon]="'mat_outline:done'"
            ></mat-icon>
          </p>
          <mat-progress-bar
            class="border-white"
            [class.progress-danger]="progressPercentage < 50"
            [value]="progressPercentage"
          ></mat-progress-bar>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="numberValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Número</p>
          <p>Insira ao menos um número.</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="symbolValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Símbolo</p>
          <p>Insira ao menos um símbolo. Ex.: &#64;!#</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="uppercaseValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Letra maiúscula</p>
          <p>Insira ao menos uma letra maiúscula</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="lowercaseValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Letra minúscula</p>
          <p>Insira ao menos uma letra minúscula</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="lengthValid"
          [disabled]="true"
        ></mat-checkbox>
        <div>
          <p class="font-bold">Tamanho</p>
          <p>A senha precisa ter entre 8 e 32 caracteres.</p>
        </div>
      </div>

      <div class="flex flex-row">
        <mat-checkbox
          class="step-checkbox"
          color="primary"
          [checked]="spaceValid"
          [disabled]="true"
        >
        </mat-checkbox>
        <div>
          <p class="font-bold">Sem espaços</p>
          <p>Não insira espaços na senha.</p>
        </div>
      </div>
    </div>

    <div class="flex w-full p-8 space-x-4 justify-end text-white">
      <a
        (click)="clickBack('termos')"
        class="underline font-bold cursor-pointer"
        >Termos de uso</a
      >
      <a
        (click)="clickBack('privacidade')"
        class="underline font-bold cursor-pointer"
        >Política de privacidade</a
      >
      <a (click)="clickBack('ajuda')" class="underline font-bold cursor-pointer"
        >Ajuda</a
      >
    </div>
  </div>
</div>
