<div
  class="flex flex-col sm:flex-row items-center md:items-start justify-center md:justify-start flex-auto min-w-0 text-secondary-300 max-h-screen"
>
  <div
    class="grid items-center justify-center w-full md:w-5/12 pt-18 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none dark:bg-default sm:bg-card h-full relative"
  >
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="w-60 m-auto mb-10">
        <img
          src="../../../../assets/images/logo/copywave.png"
          alt="Logo Copywave"
        />
      </div>

      <div
        class="mt-8 text-lg font-semibold tracking-tight leading-tight text-primary dark:text-low-pure"
      >
        Recuperação de senha
      </div>
      <div class="flex items-baseline mt-0.5 font-medium">
        <div class="text-md font-normal dark:text-gray-50">
          Informe seu e-mail e recupere sua senha.
        </div>
      </div>

      <form [formGroup]="forgotPasswordForm" class="mt-8">
        <mat-form-field class="w-full">
          <mat-label class="font-semibold text-secondary-300 dark:text-gray-50"
            >E-mail</mat-label
          >
          <input formControlName="email" placeholder="Digite aqui" matInput />
          <mat-error
            *ngIf="forgotPasswordForm.get('email').hasError('required')"
          >
            Endereço de e-mail é obrigatório.
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
            Por favor, digite um endereço de e-mail válido.
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="forgotPasswordForm.invalid"
          class="w-full mt-6"
          mat-flat-button
          color="primary"
          (click)="handleRequest()"
        >
          <span *ngIf="!forgotPasswordForm.disabled">Recuperar senha</span>
          <mat-progress-spinner
            *ngIf="forgotPasswordForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </form>
      <div class="w-full flex justify-center my-8">
        <button
          mat-flat-button
          class="w-full bg-none"
          class="bg-none"
          (click)="clickBack()"
        >
          <mat-icon [svgIcon]="'uil:back-arrow'"></mat-icon>
          <span class="ml-4 text-secondary-600 dark:text-white">Voltar</span>
        </button>
      </div>
    </div>
    <div class="w-full h-full relative min-h-20">
      <div class="grid absolute bottom-0 items-center w-full">
        <span class="text-primary dark:text-white text-center">Versão 1.0</span>
      </div>
    </div>
  </div>
  <div
    class="bg-carrousel-2 hidden md:block md:w-7/12 h-full bg-no-repeat bg-cover bg-center"
  ></div>
</div>
