<hubsd-menu></hubsd-menu>
<section
  class="absolute w-full p-4 sm:p-16 md:p-16 lg:p-16 xl:p16 bg-default text-md font-bold dark:text-low-pure text-start flex justify-center"
>
  <div class="mt-16 grid justify-center items-center max-w-maxSize">
    <h2 class="w-fit">
      <span class="text-xl font-bold dark:text-low-pure text-center"
        >Política Privacidade</span
      >
      <div class="bg-primary-600 w-40 rounded-xl h-2"></div>
    </h2>

    <div class="w-fit">
      <h3 class="mt-4 text-lg">
        <span class="text-xl font-bold dark:text-low-pure text-center"
          >Compromisso do Usuário</span
        >
      </h3>
      <div class="bg-primary-600 w-40 rounded-xl h-2"></div>
    </div>

    <div class="w-fit">
      <h3 class="mt-4 text-lg">
        <span class="text-xl font-bold dark:text-low-pure text-center"
          >Mais informações</span
        >
      </h3>
      <div class="bg-primary-600 w-40 rounded-xl h-2"></div>
    </div>
  </div>
</section>
