<hubsd-menu></hubsd-menu>
<section
  class="absolute w-full p-4 sm:p-16 md:p-16 lg:p-16 xl:p16 bg-default text-md font-bold dark:text-low-pure text-start flex justify-center"
>
  <div class="mt-16 grid justify-center items-center max-w-maxSize">
    <h2 class="w-fit">
      <span class="text-xl font-bold dark:text-low-pure text-center"
        >Termos e Condições de Uso</span
      >
      <div class="bg-primary-600 w-40 rounded-xl h-2"></div>
    </h2>
    <div class="ml-4">
      <p class="mt-4">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, exercitationem impedit accusantium quo reiciendis a quos pariatur at debitis accusamus ab assumenda fugit! Vitae ab adipisci sapiente minima expedita! Dolor.

          <a
            class="underline hover:text-gray-700"
            href="#"
          >
            https://example.com</a
          >, apiente minima expedita!</span
        >
      </p>
      <p class="mt-4">
        <span
          >Ao acessar este site, consideramos que você está de acordo com os
          termos e condições abaixo. Não continue a usar o Copywave caso você
          discorde dos termos e condições descritos neste contrato.</span
        >
      </p>
    </div>
    <div class="w-fit">
      <h3 class="mt-4 text-lg">
        <span class="text-xl font-bold dark:text-low-pure text-center"
          >Cookies</span
        >
      </h3>
      <div class="bg-primary-600 w-40 rounded-xl h-2"></div>
    </div>
    <div class="ml-4">
      <p class="mt-4">
        <span
          >O site usa cookies para ajudar na personalização da sua experiência
          na internet. Ao acessar o site Copywave, você concorda com o uso
          dos cookies requeridos.
        </span>
      </p>
      <p class="mt-4">
        <span
          >Cookies são arquivos de texto inseridos no seu disco rígido por um
          servidor de página web. Os cookies
          <span class="font-bold">não</span> têm permissão para executar
          programas ou transferir vírus para seu computador. Os cookies são
          associados exclusivamente a você e só podem ser lidos pelo servidor
          web do domínio que emitiu o cookie.
        </span>
      </p>
      <p class="mt-4">
        <span
          >Nós podemos usar cookies para coletar, armazenar ou rastrear
          informações para finalidades estatísticas e mercadológicas do nosso
          site. Você tem a opção de aceitar ou rejeitar os cookies opcionais.
          Existem alguns cookies obrigatórios, que são necessários para o
          funcionamento de nosso site. Tenha em mente que, ao aceitar os cookies
          obrigatórios, você também estará aceitando cookies de terceiros, que
          podem ser usados por terceiros caso você utilize serviços fornecidos
          por eles em nosso site, por exemplo, uma janela de reprodução de vídeo
          fornecida por empresas terceiras e integrada ao nosso site.
        </span>
      </p>
    </div>
    <div class="w-fit">
      <h3 class="mt-4 text-lg">
        <span class="text-xl font-bold dark:text-low-pure text-center"
          >Licença</span
        >
      </h3>
      <div class="bg-primary-600 w-40 rounded-xl h-2"></div>
    </div>
    <p class="mt-4 ml-4">
      <span
        >Exceto em casos em que for indicado o contrário, Copywave e seus
        licenciados têm direito à propriedade intelectual de todo o material
        postado no Copywave. Todos os direitos à propriedade intelectual são
        reservados.</span
      >
    </p>
    <p class="flex w-full justify-center mt-12">
      <span>Os termos são efetivos a partir de&nbsp;XX de Outubro 2024</span>
    </p>
  </div>
</section>
